
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>My restaurant is @Model.Name</h1>
    <div>This is the index view</div>
</body>
</html>

@* Note: this example shows that you don't need to tell the page anything about what the model
    being passed to it is like.  You won't have intellisense, but if the model that you are
    passing has a Name property, it will be rendeded correctly.*@
